*.pyc
__pycache__
.vscode
.ipynb_checkpoints
docs/make.bat
docs/Makefile
plots
cachedir
plots_paper
Untitled-1.py
Untitled-1.ipynb
simulateur.ipynb
Untitled-1.ipynb
Untitled-2.ipynb
usage.ipynb
plot_function.py
jacobian.ipynb
data.py
brouillion.ipynb
all_plot_possible.ipynb
notebook
models/ENV_Growth_model
misc
ENV_Growth_model
jacobian.ipynb
empty
notebook
gallery.ipynb
simu_acticle.ipynb
gallery copy.ipynb
simu_acticle2.ipynb
journal
ca
figure.aux
figure.log
figure.synctex.gz
figure.tex
figures-PC-AnthonyCouthures.tex
figures.tex
output.png
output2.png
sample.npy
data/CMIP6.ipynb
data/SSP_CMIP6_201811.csv
test/joblib/
**/__pycache__
***/__pycache__/

latex.py
test.ipynb
figure.py
pareto.ipynb
control.ipynb
efficiency/
test_plot
figure.toc
figure.out
noise.pdf
noise.html
noise.py
tospy.py
noisev2.html
system.ipynb
