*.pyc
__pycache__
.vscode
.ipynb_checkpoints
docs/make.bat
docs/Makefile
plots
cachedir
plots_paper
Untitled-1.py
Untitled-1.ipynb
simulateur.ipynb
Untitled-1.ipynb
Untitled-2.ipynb
usage.ipynb
plot_function.py
jacobian.ipynb
data.py
brouillion.ipynb
all_plot_possible.ipynb
notebook
