*.pyc
__pycache__
.vscode
.ipynb_checkpoints
docs/make.bat
docs/Makefile
plots
cachedir
plots_paper
Untitled-1.ipynb
Untitled-1.py
Untitled-2.ipynb
brouillion.ipynb
data.py
simulateur.ipynb
simulateur.ipynb
Untitled-1.py
Untitled-1.ipynb
simulateur.ipynb
